..Rcheck
.*.swp
.DS_Store
.RData
.Rhistory
.swp
*.log
biodbChebi_*.tar.gz
biodbChebi_*.tgz
biodbChebi.Rcheck
cache
check.Renviron
doc
man
Meta
src-i386
src-x64
src/*.rds
tests/testthat/output
vignettes/*.html
vignettes/*.md
vignettes/*.R
